@import "../../../assets/styles/flexbox.scss";
@import '~@ctrl/ngx-emoji-mart/picker';

.chat-section{
    width: 70%;
    height: 90vh;
    position: relative;
    top: 10px;
    margin: 0 auto;
    background-color: rgb(184, 253, 249);
    box-shadow: 2px 2px 2px 2px rgb(60, 250, 240);
    border-radius: 50px;
    .show-results{
        width: 90%;
        height: 80vh;
        padding: 10px;
        overflow: auto;
        background-color: rgb(230, 233, 233) ;
        border-radius: 20px;
        position: relative;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        .comment{
            padding:10px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background: azure;
            span{
                &:first-child{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    .typeing-text{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 28px;
        background-color: rgb(226, 222, 222);
        border-radius: 10px;
        input{
            width: 90%;
            border: none;
            outline: none;
            padding: 5px;
            background: none;
        }
    }
    .section-emoji.active{
        position: absolute;
        bottom: 6%;
        right: 0;
    }
}
    footer{
        width: 100%;
        height: 30px;
        padding: 10px;
        background-color: rgb(228, 224, 224);
        color: rgb(10, 215, 230);
        position: fixed;
        bottom: 10px;
    }